<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
        	               http://www.springframework.org/schema/context/spring-context.xsd">
    <!--扫描器-->
    <context:component-scan base-package="com">
        <!--排除springMVC初始化的包-->
        <context:exclude-filter type="regex" expression="com.woomoon.controller"/>
    </context:component-scan>

    <!--配置连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <!--基本配置-->
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
        <property name="url" value="jdbc:mysql://localhost/wxx"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <!--初始连接-->
        <property name="initialSize" value="5"/>
        <!--最大连接数-->
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
    </bean>

    <!--配置mybatis -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations">
            <list>
                <value>
                    classpath:dao/*.xml
                </value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis_config.xml"></property>
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.woomoon.dao"></property>
    </bean>


</beans>