<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../../plugins/plugs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../plugins/UI/style/style.css">
</head>

<body>

<!--控制出现位置-->
<div id="dept_list" style="margin-top: -40px" class="col-md-12">
    <!--背景-->
    <div class="widget" style="">
        <!--数据表 上边框 搜索框-->
        <div style="height: 60px;" class="widget-head">
            <div style="margin-left: 30px;margin-top: 10px">
                科室名称：<input id="name" width="200px"> &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" style="width: 100px" onclick="dimquery()">查询</button>
            </div>
            <div class="btn-group" role="group" style="margin-left: 390px;margin-top: -55px;">
                <!--<button onclick="addFun()" type="button" class="btn btn-default">添加</button>-->
                <!--<button onclick="delFun()" type="button" class="btn btn-default">删除</button>-->
                <!--<button onclick="updFun()" type="button" class="btn btn-default">修改</button>-->
            </div>
        </div>
        <!--table-->
        <div class="widget-content">
            <!--数据内容-->
            <table class="table table-striped table-bordered table-hover">
                <!--字段名-->
                <thead >
                    <th>科室ID</th>
                    <th>科室名称</th>
                    <th>是否为父目录</th>
                    <th>科室父ID</th>
                    <th>备注</th>
                </thead>
                <!--数据行-->
                <tbody>
                <tr v-for="dept in dept_tr">
                    <td><button type="button" class="btn btn-default btn-xs" v-on:click="valueID(dept.dept_id)">
                        {{dept.dept_id}}
                    </button></td>
                    <td>{{dept.dept_name}}</td>
                    <td>{{dept.isParent}}</td>
                    <td>{{dept.dept_pid}}</td>
                    <td>{{dept.dept_remark}}</td>
                </tr>
                </tbody>
            </table>
            <!--数据下边框，及分页栏 控制下边宽度-->
            <div style="height: 70px;" class="widget-foot">
                <!--<div class="btn-group" role="group">-->
                    <!--<button type="button"  class="btn btn-default" v-on:click="add()" >增加</button>-->
                <!--</div>-->
                <ul class="pagination pull-right">
                    <li><select id="page_number"  class="btn btn-default" v-model="page_num" ><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></li>
                    <li><a class="paging">首页</a></li>
                    <li><a class="paging">上一页</a></li>
                    <li><a>{{currentIndex}}/{{sum}}</a></li>
                    <li><a class="paging">下一页</a></li>
                    <li><a class="paging">末页</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--删除科室-->
        <div class="modal fade" id="delete_dept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">系统消息</h4>
                    </div>
                    <div class="modal-body">
                        <h3>确定要删除吗？</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger "  v-on:click="deleteDept()">确认删除</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">取消删除</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  增加科室   -->
        <div class="modal fade" id="add_dept" tabindex="-1" role="dialog"
             aria-labelledby="exampleOrdersLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">增加科室</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--disabled="disabled" 隐藏文本框-->
                            <div class="form-group">
                                <label  class="control-label">科室名称:</label>
                                <input type="text" class="form-control ordersId_update" id="add_name">
                            </div>
                            <div>
                                <label class="control-label">是否为父目录：</label>
                                是：<input name="add_isParent" type="radio" value="是">&nbsp;&nbsp;
                                否：<input name="add_isParent" type="radio" value="否" checked="checked">
                            </div>
                            <div>
                                <label class="control-label">科室父ID：</label>
                                <select id="add_pid">
                                    <option value="0">无父ID</option>
                                    <option v-for=" add_tr in isparent_tr" :value="add_tr.dept_id">{{add_tr.dept_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">备注：</label>
                                <input type="text" style="height: 100px"  class="form-control ordersPrice_update"  id="add_remark">
                                <span style="color: red;"></span></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submitUpdateOrder" v-on:click="addDept()">提交增加</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消增加</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  修改科室   -->
        <div class="modal fade" id="update_dept" tabindex="-1" role="dialog"
             aria-labelledby="exampleOrdersLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" >修改科室</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--disabled="disabled" 隐藏文本框-->
                            <div class="form-group">
                                <label class="control-label" >科室ID：</label>
                                <input type="text" class="form-control" id="update_id" disabled="disabled" v-model="update.dept_id">
                            </div>
                            <div class="form-group">
                                <label  class="control-label">科室名称:</label>
                                <input type="text" class="form-control ordersId_update" id="update_name" v-model="update.dept_name">
                            </div>
                            <div>
                                <label class="control-label">是否为父目录：</label>
                                是：<input name="update_isParent" type="radio" value="是" v-model="update.isParent">&nbsp;&nbsp;
                                否：<input name="update_isParent" type="radio" value="否" v-model="update.isParent">
                            </div>
                            <div>
                                <label class="control-label">科室父ID：</label>
                                <select id="update_pid" v-model="update.dept_pid">
                                    <option value="0">无父ID</option>
                                    <option v-for=" add_tr in isparent_tr" :value="add_tr.dept_id">{{add_tr.dept_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">备注：</label>
                                <input type="text" style="height: 100px"  class="form-control ordersPrice_update"  id="update_remark" v-model="update.dept_remark">
                                <span style="color: red;"></span></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submitUpdateOrder" v-on:click="updateDept()">提交修改</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="../../../plugins/plugs/js/jquery-3.2.1.min.js"></script>
<script src="../../../plugins/plugs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../plugins/plugs/js/vue.min.js"></script>
<script src="../../../plugins/laydate/laydate.js"></script>

<script>
    var pageindex=1;
    var dept_list=new Vue({
        el:"#dept_list",
        data:{
            ID:'',
            dept_tr:[],
            update:{},     //修改的数据
            page_num:3,  //当前每页多少条
            currentIndex:1, //当前在第几页
            sum:'', //最大页码
            isparent_tr:{},
            delete_id:'',
        },
        methods:{
//            //删除
//            deleteID:function (dept_id) {
//                $("#delete_dept").modal("show");
//                dept_list._data.delete_id=dept_id;
//            },

            deleteDept:function () {
                var dept_id=dept_list._data.delete_id;
                $.ajax({
                    url:'../../queryAllDept_isPatent_ID.action',
                    dataType:'JSON',
                    type:'post',
                    data:'dept_id='+dept_id,
                    success:function (data) {
                        if(data ==0){
                            $.ajax({
                                url:'../../deleteDept.action',
                                dataType:'JSON',
                                type:'post',
                                data:'dept_id='+dept_id,
                                success:function (data) {
                                    if(data){
                                        alert("删除成功！");
                                    }
                                }
                            })
                        }
                        else{
                            alert("该父类下有子类，不能进行删除！");
                        }
                        $("#delete_dept").find(".close").click();
                        dept_list._data.currentIndex=1;
                        DeptSum();
                        queryAll();
                    }
                })
            },

//            //增加
//            add:function () {
//                $("#add_dept").modal("show");
//                query();
//            },

            addDept:function () {
                var dept_name=$("#add_name").val();
                var isParent=$("input[name='add_isParent']:checked").val();
                var dept_pid=$("#add_pid").val();
                var dept_remark=$("#add_remark").val();
                $.ajax({
                    url:'../../addDept.action',
                    dataType:'JSON',
                    type:'post',
                    data:'dept_name='+dept_name+'&isParent='+isParent+'&dept_pid='+dept_pid+'&dept_remark='+dept_remark,
                    success:function (data) {
                        if(data){
                            alert("增加成功！");
                        }
                        $("#add_dept").find(".close").click();
                        dept_list._data.currentIndex=1;
                        DeptSum();
                        queryAll();
                    }
                })
            },

//            //修改
//            updateID:function (dept_id) {
//                $.ajax({
//                    url:'../../queryOneDept_ID.action',
//                    dataType:'JSON',
//                    type:'post',
//                    data:'dept_id='+dept_id,
//                    success:function (data) {
//                        dept_list._data.update=data;
//                    }
//                })
//                $("#update_dept").modal("show");
//                query();
//            },


            updateDept:function () {
                var dept_id=$("#update_id").val();
                var dept_name=$("#update_name").val();
                var isParent=$("input[name='update_isParent']:checked").val();
                var dept_pid=$("#update_pid").val();
                var dept_remark=$("#update_remark").val();
                $.ajax({
                    url:'../../queryAllDept_isPatent_ID.action',
                    dataType:'JSON',
                    type:'post',
                    data:'dept_id='+dept_id,
                    success:function (data) {
                        if(data==0){
                            $.ajax({
                                url:'../../updateDept.action',
                                dataType:'JSON',
                                type:'post',
                                data:'dept_id='+dept_id+'&dept_name='+dept_name+'&isParent='+isParent+'&dept_pid='+dept_pid+'&dept_remark='+dept_remark,
                                success:function (data) {
                                    if(data){
                                        alert("修改成功！");
                                    }
                                }
                            })
                        }else{
                            alert("该父类下有子类，不能进行修改！")
                        }
                        $("#update_dept").find(".close").click();
                        dept_list._data.currentIndex=1;
                        DeptSum();
                        queryAll();
                    }
                })
            }
        }
    });

    $(function () {

        $.ajax({
            url: "../../queryPowerBtn.action",
            type: "post",
            data: "p_pid=9",
            success: function (msg) {
                $.each(JSON.parse(msg), function (k, v) {
                    $(".btn-group").prepend(v);
                })
            }
        });


        queryAll();
        DeptSum();
    });


    function valueID(id) {
        dept_list._data.ID=id;
    }

    function addFun() {
        $("#add_dept").modal("show");
        query();
    }

    function updFun() {
        $.ajax({
            url:'../../queryOneDept_ID.action',
            dataType:'JSON',
            type:'post',
            data:'dept_id='+dept_list._data.ID,
            success:function (data) {
                dept_list._data.update=data;
            }
        })
        $("#update_dept").modal("show");
        query();
    }

    function delFun() {
        $("#delete_dept").modal("show");
        dept_list._data.delete_id=dept_list._data.ID;
    }

    //查询所有
    function query() {
        $.ajax({
            url:'../../queryAllDept_isPatent.action',
            dataType:'JSON',
            success:function (data) {
                dept_list._data.isparent_tr=data;
            }
        })
    };

    //查询所有+分页
    function queryAll(){
        var current_sum=$("#page_number").val();
        $.ajax({
            url:'../../queryAllDept.action',
            dataType:'JSON',
            type:'post',
            data:'current_sum='+current_sum,
            success:function (data) {
                console.log(data);
                dept_list._data.dept_tr=data;
                console.log(dept_list._data.dept_tr);
            }
        })
    };

//    //查询父类下有没有子类
//    function info(dept_id) {
//        $.ajax({
//            url:'../../queryAllDept_isPatent_ID.action',
//            dataType:'JSON',
//            type:'post',
//            data:'dept_id='+dept_id,
//            success:function (data) {
//                dept_list._data.dept_info=data;
//                alert(data+"化");
//                alert(dept_list._data.dept_info+"学");
//            }
//        })
//    }


    //模糊查询
    function dimquery() {
        dept_list._data.page_num=1;
        var dept_name=$("#name").val();
        $.ajax({
            url:'../../queryAllDept.action',
            dataType:'JSON',
            type:'post',
            data:'dept_name='+dept_name,
            success:function (data) {
                dept_list._data.dept_tr=data;
                dept_list._data.currentIndex=1;
                DeptSum();
            }
        })
    }

    //查询总页码
    function DeptSum() {
        var dept_name=$("#name").val();
        var current_sum=$("#page_number").val();
        $.ajax({
            url:'../../DeptSum.action',
            dataType:'JSON',
            type:'post',
            data:'dept_name='+dept_name+"&current_sum="+current_sum,
            success:function (data) {
                dept_list._data.sum=data;
            }
        })
    }

    //分页1
    $(function () {

        //下拉事件5
        $("select#page_number").change(function () {
            var dept_name=$("#name").val();
            var val=$(this).val();
            pageindex=1;
            $.ajax({
                url:'../../queryAllDept.action',
                dataType:'JSON',
                type:'post',
                data:'dept_name='+dept_name+'&current_sum='+val,
                success:function (data) {
                    dept_list._data.dept_tr=data;
                    dept_list._data.currentIndex=1;
                    DeptSum();
                }
            })

        });

        //翻页
        $(".paging").click(function () {
            var dept_name=$("#name").val();
            var pageName=$(this).text();
            var sum=dept_list._data.sum;
            var current_sum=$("#page_number").val();

            if(pageName=="首页"){
                pageindex=1;
            }
            if(pageName=="上一页"){
                if(pageindex!=1) {
                    pageindex=pageindex-1;
                }
            }
            if(pageName=="下一页"){
                if(pageindex!=sum){
                    pageindex=pageindex+1;
                }
            }
            if(pageName=="末页"){
                pageindex=sum;
            }
            dept_list._data.currentIndex=pageindex;
            $.ajax({
                url:'../../queryAllDept.action',
                dataType:'JSON',
                type:'post',
                data:'dept_name='+dept_name+'&pageIndex='+pageindex+"&current_sum="+current_sum,
                success:function (data) {
                    dept_list._data.dept_tr=data;
                }
            })
        })
    })

</script>
</body>
</html>