<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../../plugins/plugs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../plugins/UI/style/style.css">
</head>

<body>

<!--控制出现位置-->
<div id="outprep_list" style="margin-top: -40px" class="col-md-12">
    <!--背景-->
    <div class="widget" style="">
        <!--数据表 上边框 搜索框-->
        <div style="height: 60px;" class="widget-head">
            <div style="margin-left: 30px;margin-top: 10px">
                处方ID：<input id="prep_id" width="200px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                医师名称：<input id="user_name" width="200px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                处理结果：<input id="result" width="200px">
                <button type="button" style="width: 100px" onclick="dimquery()">查询</button>
            </div>
            <div class="btn-group" role="group" style="margin-left: 390px;margin-top: -55px;">
                <!--<button onclick="addFun()" type="button" class="btn btn-default">添加</button>-->
                <!--<button onclick="delFun()" type="button" class="btn btn-default">删除</button>-->
                <!--<button onclick="updFun()" type="button" class="btn btn-default">修改</button>-->
            </div>
        </div>
        <!--table-->
        <div class="widget-content">
            <!--数据内容-->
            <table class="table table-striped table-bordered table-hover">
                <!--字段名-->
                <thead >
                    <th>退回ID</th>
                    <th>处方ID</th>
                    <th>退回类型</th>
                    <th>退回原因</th>
                    <th>处理医师</th>
                    <th>处理意见</th>
                    <th>处理结果</th>
                </thead>
                <!--数据行-->
                <tbody>
                <!--v-for="user in userName"-->
                <tr v-for="outprep in outprep_tr" >
                    <td><button type="button" class="btn btn-default btn-xs" v-on:click="valueID(outprep.out_id)">
                        {{outprep.out_id}}
                    </button></td>
                    <td>{{outprep.prep_id}}</td>
                    <td>{{outprep.out_type}}</td>
                    <td>{{outprep.out_remark}}</td>
                    <td>{{outprep.user_name}}</td>
                    <td>{{outprep.out_word}}</td>
                    <td>{{outprep.out_result}}</td>
                </tr>
                </tbody>
            </table>
            <!--数据下边框，及分页栏 控制下边宽度-->
            <div style="height: 70px;" class="widget-foot">
                <ul class="pagination pull-right">
                    <li><select id="page_number"  class="btn btn-default" v-model="page_num" ><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></li>
                    <li><a class="paging">首页</a></li>
                    <li><a class="paging">上一页</a></li>
                    <li><a>{{currentIndex}}/{{sum}}</a></li>
                    <li><a class="paging">下一页</a></li>
                    <li><a class="paging">末页</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--删除退回处方-->
        <div class="modal fade" id="delete_outprep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">系统消息</h4>
                    </div>
                    <div class="modal-body">
                        <h3>确定要删除吗？</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger "  v-on:click="deleteOutprep()">确认删除</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">取消删除</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  增加退回处方   -->
        <div class="modal fade" id="add_outprep" tabindex="-1" role="dialog"
             aria-labelledby="exampleOrdersLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">增加退回处方</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--disabled="disabled" 隐藏文本框-->
                            <div class="form-group">
                                <label  class="control-label">处方ID:</label>
                                <input type="text" class="form-control ordersId_update" id="add_prep_id">
                            </div>
                            <div>
                                <label class="control-label">退回类型：</label>
                                <input id="add_type" type="text" class="form-control ordersId_update">
                            </div>
                            <div>
                                <label class="control-label">退回原因：</label>
                                <input id="add_remark" type="text" class="form-control ordersId_update">
                            </div>
                            <div>
                                <label class="control-label">处理医师：</label>
                                <select id="add_user_id">
                                    <option value="">请选择医师</option>
                                    <option v-for="userValue in user_value" :value="userValue.user_id">{{userValue.user_name}}</option>
                                </select>
                            </div>
                            <div>
                                <label class="control-label">处理意见：</label>
                                <input id="add_word" type="text" class="form-control ordersId_update">
                            </div>
                            <div class="form-group">
                                <label  class="control-label">处理结果：</label>
                                <input type="text" class="form-control ordersPrice_update"  id="add_result">
                                <span style="color: red;"></span></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submitUpdateOrder" v-on:click="addOutprep()">提交增加</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消增加</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  修改退回处方   -->
        <div class="modal fade" id="update_outprep" tabindex="-1" role="dialog"
             aria-labelledby="exampleOrdersLabel" data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" >修改退回处方</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--disabled="disabled" 隐藏文本框-->
                            <div class="form-group">
                                <label class="control-label" >退回ID：</label>
                                <input type="text" class="form-control" id="update_out_id" disabled="disabled" v-model="update.out_id">
                            </div>
                            <div class="form-group">
                                <label  class="control-label">处方ID:</label>
                                <input type="text" class="form-control ordersId_update" id="update_prep_id" v-model="update.prep_id">
                            </div>
                            <div>
                                <label class="control-label">退回类型：</label>
                                <input id="update_type" type="text" class="form-control ordersId_update" v-model="update.out_type">
                            </div>
                            <div>
                                <label class="control-label">退回原因：</label>
                                <input id="update_remark" type="text" class="form-control ordersId_update" v-model="update.out_remark">
                            </div>
                            <div>
                                <label class="control-label">处理医师：</label>
                                <select id="update_user_id" v-model="update.user_id">
                                    <option  value="">请选择医师</option>
                                    <option  v-for="userValue in user_value" :value="userValue.user_id">{{userValue.user_name}}</option>
                                </select>
                            </div>
                            <div>
                                <label class="control-label">处理意见：</label>
                                <input id="update_word" type="text" class="form-control ordersId_update" v-model="update.out_word">
                            </div>
                            <div class="form-group">
                                <label  class="control-label">处理结果：</label>
                                <input type="text" class="form-control ordersPrice_update"  id="update_result" v-model="update.out_result">
                                <span style="color: red;"></span></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submitUpdateOrder" v-on:click="updateOutprep()">提交修改</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="../../../plugins/plugs/js/jquery-3.2.1.min.js"></script>
<script src="../../../plugins/plugs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../plugins/plugs/js/vue.min.js"></script>
<script src="../../../plugins/laydate/laydate.js"></script>

<script>
    var pageindex=1;
    var outprep_list=new Vue({
        el:"#outprep_list",
        data:{
            ID:'',
            outprep_tr:{},
            update:{},     //修改的数据
            page_num:3,  //当前每页多少条
            currentIndex:1, //当前在第几页
            sum:'', //最大页码
            outprep_info:0,
            delete_id:'',
            userName:{},
            user_value:{},
        },
        methods:{
            //删除
            deleteOutprep:function () {
                var out_id=outprep_list._data.delete_id;
                $.ajax({
                    url:'../../deleteOutprep.action',
                    dataType:'JSON',
                    type:'post',
                    data:'out_id='+out_id,
                    success:function (data) {
                        if(data){
                            alert("删除成功！");
                        }
                        $("#delete_outprep").find(".close").click();
                        outprep_list._data.currentIndex=1;
                        OutprepSum();
                        queryAll();
                    }
                })
            },

            //增加
            addOutprep:function () {
                var prep_id=$("#add_prep_id").val();
                var out_type=$("#add_type").val();
                var out_remark=$("#add_remark").val();
                var user_id=$("#add_user_id").val();
                var out_word=$("#add_word").val();
                var out_result=$("#add_result").val();
                $.ajax({
                    url:'../../addOutprep.action',
                    dataType:'JSON',
                    type:'post',
                    data:'prep_id='+prep_id+'&out_type='+out_type+'&out_remark='+out_remark+'&user_id='+user_id+"&out_word="+out_word+"&out_result="+out_result,
                    success:function (data) {
                        if(data){
                            alert("增加成功！");
                        }
//                       else{
//                           alert("增加失败！");
//                       }
                        $("#add_outprep").find(".close").click();
                        outprep_list._data.currentIndex=1;
                        OutprepSum();
                        queryAll();
                    }
                })
            },

            //修改
            updateOutprep:function () {
                var out_id=$("#update_out_id").val();
                var prep_id=$("#update_prep_id").val();
                var out_type=$("#update_type").val();
                var out_remark=$("#update_remark").val();
                var user_id=$("#update_user_id").val();
                var out_word=$("#update_word").val();
                var out_result=$("#update_result").val();
                alert(out_id);
                    $.ajax({
                        url:'../../updateOutprep.action',
                        dataType:'JSON',
                        type:'post',
                        data:'out_id='+out_id+'&prep_id='+prep_id+'&out_type='+out_type+'&out_remark='+out_remark+'&user_id='+user_id+"&out_word="+out_word+"&out_result="+out_result,
                        success:function (data) {
                            if(data){
                                alert("修改成功！");
                            }
                            $("#update_outprep").find(".close").click();
                            outprep_list._data.currentIndex=1;
                            OutprepSum();
                            queryAll();
                        }
                    })
            }
        }
    });

    $(function () {
        $.ajax({
            url: "../../queryPowerBtn.action",
            type: "post",
            data: "p_pid=9",
            success: function (msg) {
                $.each(JSON.parse(msg), function (k, v) {
                    $(".btn-group").prepend(v);
                })
            }
        });

        queryAll();
        OutprepSum();
    });

    function valueID(id) {
        outprep_list._data.ID=id;
    }

    function addFun() {
        $("#add_outprep").modal("show");
        queryusery();
    }

    function updFun() {
        queryusery();
        $.ajax({
            url:'../../queryOneOutprep_ID.action',
            dataType:'JSON',
            type:'post',
            data:'out_id='+out_id,
            success:function (data) {
                outprep_list._data.update=data;
            }
        })
        $("#update_outprep").modal("show");
    }

    function delFun() {
        $("#delete_outprep").modal("show");
        outprep_list._data.delete_id=out_id;
    }

    //查询所有+分页
    function queryAll(){
        var current_sum=$("#page_number").val();
        $.ajax({
            url:'../../queryAllOutprep.action',
            dataType:'JSON',
            type:'post',
            data:'current_sum='+current_sum,
            success:function (data) {
                outprep_list._data.outprep_tr=data;
            }
        })
    };

    //模糊查询
    function dimquery() {
        outprep_list._data.page_num=1;
        var prep_id=$("#prep_id").val();
        var user_name=$("#user_name").val();
        var out_result=$("#result").val();
        $.ajax({
            url:'../../queryAllOutprep.action',
            dataType:'JSON',
            type:'post',
            data:'prep_id='+prep_id+"&out_result="+out_result+"&user_name="+user_name,
            success:function (data) {
                outprep_list._data.outprep_tr=data;
                outprep_list._data.currentIndex=1;
                OutprepSum();
            }
        })
    }


    //查询医师
    function queryusery() {
        $.ajax({
            url:'../../queryUser.action',
            dataType:'JSON',
            success:function (data) {
                outprep_list._data.user_value=data;
            }
        })
    }

    //查询总页码
    function OutprepSum() {
        var prep_id=$("#prep_id").val();
        var user_name=$("#user_name").val();
        var out_result=$("#result").val();
        var current_sum=$("#page_number").val();
        $.ajax({
            url:'../../OutprepSum.action',
            dataType:'JSON',
            type:'post',
            data:'prep_id='+prep_id+"&out_result="+out_result+"&user_name="+user_name+"&current_sum="+current_sum,
            success:function (data) {
                outprep_list._data.sum=data;
            }
        })
    }

    //分页1
    $(function () {

        //下拉事件5
        $("select#page_number").change(function () {
            var prep_id=$("#prep_id").val();
            var user_name=$("#user_name").val();
            var out_result=$("#result").val();
            var val=$(this).val();
            pageindex=1;
            $.ajax({
                url:'../../queryAllOutprep.action',
                dataType:'JSON',
                type:'post',
                data:'prep_id='+prep_id+"&out_result="+out_result+"&user_name="+user_name+'&current_sum='+val,
                success:function (data) {
                    outprep_list._data.outprep_tr=data;
                    outprep_list._data.currentIndex=1;
                    OutprepSum();
                }
            })

        });

        //翻页
        $(".paging").click(function () {
            var prep_id=$("#prep_id").val();
            var user_name=$("#user_name").val();
            var out_result=$("#result").val();
            var pageName=$(this).text();
            var sum=outprep_list._data.sum;
            var current_sum=$("#page_number").val();

            if(pageName=="首页"){
                pageindex=1;
            }
            if(pageName=="上一页"){
                if(pageindex!=1) {
                    pageindex=pageindex-1;
                }
            }
            if(pageName=="下一页"){
                if(pageindex!=sum){
                    pageindex=pageindex+1;
                }
            }
            if(pageName=="末页"){
                pageindex=sum;
            }
            outprep_list._data.currentIndex=pageindex;
            $.ajax({
                url:'../../queryAllOutprep.action',
                dataType:'JSON',
                type:'post',
                data:'prep_id='+prep_id+"&out_result="+out_result+"&user_name="+user_name+'&pageIndex='+pageindex+"&current_sum="+current_sum,
                success:function (data) {
                    outprep_list._data.outprep_tr=data;
                }
            })
        })
    })

</script>
</body>
</html>