<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woomoon.dao.UserMapper">


    <select id="queryAllUser" resultType="java.util.Map">
        SELECT u.user_id,u.user_name,u.user_account,u.user_time,d.dept_name FROM tb_user u LEFT JOIN tb_dept d on
        u.dept_id = d.dept_id where 1=1 and isdel = 'n'
        <if test="user_name != null and user_name != ''">
            and u.user_name like '%${user_name}%'
        </if>
        limit #{begin},#{end}
    </select>

    <select id="queryAllUserCount" resultType="int">
        SELECT COUNT(u.user_id) FROM tb_user u LEFT JOIN tb_dept d on u.dept_id = d.dept_id
        where 1=1 and isdel = 'n'
        <if test="user_name != null and user_name != ''">
            and user_name like '%${user_name}%'
        </if>
    </select>

    <select id="queryUserCoRole" parameterType="String" resultType="java.util.Map">
        select role_id from tb_user_role where user_id = #{user_id}
    </select>

    <insert id="addUserCoRole">
        INSERT INTO tb_user_role VALUES (#{user_id},#{role_id})
    </insert>

    <delete id="delUserCoRole" parameterType="String">
        DELETE from tb_user_role where user_id = #{user_id}
    </delete>

    <select id="user_login" resultType="com.woomoon.entitys.UserEntity">
        SELECT user_id,user_name,user_account,user_time FROM tb_user
        where isdel = 'n' and user_account = #{user_name} and user_pwd = #{user_pwd}
    </select>

    <insert id="addUser" parameterType="com.woomoon.entitys.UserEntity">
        INSERT INTO TB_USER (user_name,user_account,user_pwd,user_time,dept_id,isdel) VALUES
        (#{user_name},#{user_account},#{user_pwd},#{user_time},#{dept_id},#{isdel})
    </insert>

    <update id="delUser" parameterType="int">
        update tb_user set isdel = 'y' where user_id = #{user_id}
    </update>

    <update id="updUser">
        update tb_user set dept_id = #{dept_id} where user_id = #{user_id}
    </update>

</mapper>